[Unit]
Description=orquestador

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/share/elkorrelator/bin/orquestador
Restart=always
WorkingDirectory=/
Nice=19
LimitNOFILE=16384

[Install]
WantedBy=multi-user.target